<head>
    <title>My Manga Server</title>
    <link rel="stylesheet" href="/ext/bootstrap.min.css">
    <style>
        * {
            text-align: center;
        }
        h1 {
            margin-bottom: 100px;
            font-family: Courier New, Courier, monospace;
            color: white;
            font-weight: bold;
        }
        body {
            background-image: url("/ext/background.jpg");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<div class="container">
<a href="/"><h1>My Manga Server</h1></a>
        {% for chapter in chapterList %}
        
            <a href="#"><button type="button" class="btn btn-lg btn-success">{{ chapter }}</button></a>
            <hr>

        {% else %} 
            <h1>There is No Chapter</h1>
        {% endfor %}
</div>

<div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary" onclick="myFunction()">Reload</button>
</div>
<script type="text/javascript">
    function myFunction() {
    location.reload();
}
</script>