<head>
    <title>My Manga Server</title>
    <link rel="stylesheet" href="ext/bootstrap.min.css">
    <style>
        * {
            text-align: center;
        }
        h1 {
            margin-bottom: 100px; 
        }
    </style>
</head>
<div class="container">
<h1>My Manga Server</h1>
<div class="btn-group">
    <a href="/offline"><button type="button" class="btn btn-lg btn-primary">OFFLINE</button></a>
    <a href="/online"><button type="button" class="btn btn-lg btn-success">SEARCH ONLINE</button></a> 
</div>
</div>


