<head>
    <title>My Manga Server</title>
    <link rel="stylesheet" href="ext/bootstrap.min.css">
    <style>
        * {
            text-align: center;
        }
        h1 {
            margin-bottom: 100px;
            font-family: Courier New, Courier, monospace;
            color: white;
            font-weight: bold;
        }
        body {
            background-image: url("ext/background.jpg");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<div class="container">
<a href=""><h1>Downloaded Manga</h1></a> 

    
        {% for dir in dirList %}
        <div class="btn-group">
            <a href="/online"><button type="button" class="btn btn-lg btn-success">{{ dir }}</button></a>
            <br>
        </div>
        {% else %}
        <p>This would display if the 'item' collection were empty</p>
        {% endfor %}
         

</div>




